<div class="row">
    <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
        <div id="resources">
            <h3>Legislative Resources</h3>
            <div class="row content_box">
                <div class="col-xs-12">
                    <p><a href="http://www.leg.state.vt.us/">Legislature Home Page</a></p>
                    <p><a href="http://www.leg.state.vt.us/docs/serviceMain.cfm">Daily Calendar</a></p>
                    <p><a href="http://www.leg.state.vt.us/legdir/LegDirMain.cfm">Who Is My Legislator?</a></p>
                    <p><a href="http://www.leg.state.vt.us/database/status/status.cfm">Find A Bill</a></p>
                    <hr>
                    <p><a href="https://www.google.com/maps/views/view/streetview/government-buildings-and-residences/vermont-state-house/xGuzXlgeVsdRT0yWzy62cA?gl=us&hl=en-us&heading=18&pitch=93&fovy=75">Take a virtual tour</a> of the Vermont Statehouse</p>
                </div>
            </div>
        </div>
    </div>
</div>
