<div class="row">
    <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
        <div id="streams">
            <h3>Statehouse Streams</h3>
            <div class="row content_box">
                <div class="col-md-12 col-sm-6">
                    <h4>Audio Players</h4>
                    <p><a href="http://www.vpr.net/apps/audio-player/">VPR Audio Player</a></p>
                    <p><a href="http://digital.vpr.net/mobile-apps-and-site">Mobile Apps and Site</a></p>
                </div>
                <div class="col-md-12 col-sm-6">
                    <h4>iTunes</h4>
                    <p><a href="http://www.vpr.net/vpr_files/stream_playlists/vprhouse.pls">House</a></p>
                    <p><a href="http://www.vpr.net/vpr_files/stream_playlists/vprsenate.pls">Senate</a></p>
                </div>
                <div class="col-md-12 col-sm-6">
                    <h4>Windows Media</h4>
                    <p><a href="http://www.vpr.net/vpr_files/stream_playlists/vprhouse.asx">House</a></p>
                    <p><a href="http://www.vpr.net/vpr_files/stream_playlists/vprsenate.asx">Senate</a></p>
                </div>
                <div class="col-md-12 col-sm-6">
                    <h4>MP3</h4>
                    <p><a href="http://vprstate.streamguys.net/vprhouse24.mp3">House</a></p>
                    <p><a href="http://vprstate.streamguys.net/vprsenate24.mp3">Senate</a></p>
                </div>
                <div class="col-xs-12">
                    <hr>
                    <p id="stream_disclaimer">The statehouse streams are on when the microphones in the house and senate chambers are turned on.</p>
                </div>
            </div>
        </div>
    </div>
</div>
